@import url(base.css);

.attribution {
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin-bottom: 20px;
    width: 93.8%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.attribution, .img-container img {
    transition: all ease-in-out 0.3s;
}

.attribution a {
    padding: 6px 12px;
    background-color: var(--color-primary);
    text-decoration: none;
    color: white;
}

.img-container:hover .attribution {
    opacity: 1;
}

.img-container:hover img{
    opacity: 0.8;
}

